[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = /home/christian/.gitignore
[user]
	name = Christian Oudard
	email = christian.oudard@gmail.com
[alias]
	st = status
	d = diff
	dc = diff --cached
	ci = commit -v
	cia = commit -v -a
	co = checkout
[push]
	default = matching
[diff]
    tool = meld
