[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = ~/.gitignore
[user]
	name = Christian Oudard
	email = christian.oudard@gmail.com
	signingkey = {{ (onepasswordItemFields "3gevvmngyjg6hlzpjx764afgyi").signingkey.value }}
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	s = status
	st = status
	d = diff -w
	dc = diff -w --cached
	ci = commit --verbose
	cia = commit --verbose --all
	co = checkout
	su = submodule update --init --recursive
	logg = log --graph
[diff]
	tool = vimdiff
[merge]
	tool = meld
	conflictstyle = diff3
[push]
	default = matching
[branch]
	autosetuprebase = always
[github]
	user = christian-oudard
	token = signingkey = {{ (onepasswordItemFields "3gevvmngyjg6hlzpjx764afgyi").token.value }}
[pull]
	ff = only
